@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
    --background: 249 250 251; /* neutral-50 */
  }

  .dark {
    color-scheme: dark;
    --background: 17 24 39; /* neutral-900 */
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-neutral-50 text-neutral-800 antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  @apply bg-primary-200;
}

a {
  @apply transition-colors hover:text-neutral-900;
}

.dark a {
  @apply hover:text-neutral-100;
}
