@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-neutral-50 text-neutral-800 antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  @apply bg-primary-200;
}

a {
  @apply transition-colors hover:text-neutral-900;
}

.dark a {
  @apply hover:text-neutral-100;
}
